CompileFlags:
  Add:
    - "-std=c++20"
    - "-DSTB_IMAGE_WRITE_IMPLEMENTATION"
    - "-DWALLPAPERENGINE_ENABLE_MPV=0"
    - "-DWALLPAPERENGINE_ENABLE_PULSEAUDIO=0"
    - "-IE:/repo/github/vcpkg/installed/x64-windows/include"
    - "-IE:/repo/github/vcpkg/installed/x64-windows/include/SDL2"
    - "-I."
    - "-Isrc"
    - "-Isrc/External/argparse/include"
    - "-Isrc/External/Catch2/src"
    - "-Isrc/External/glslang-WallpaperEngine"
    - "-Isrc/External/json/include"
    - "-Isrc/External/kissfft"
    - "-Isrc/External/MimeTypes"
    - "-Isrc/External/quickjs"
    - "-Isrc/External/SPIRV-Cross-WallpaperEngine"
    - "-Isrc/External/stb"
    - "-Isrc/examples/demo_mfc"
